body{
 background-color: black;
}
.titulo {
 font-family: 'Montserrat', sans-serif;
}
.texto {
 font-family: 'EB Garamond', serif;
}
.fondo-celeste {
 background-color: #0dcaf0;
 background-size: cover;
}